<div class="container">
    <app-banner></app-banner>
    <div class="acercade">
        <mat-grid-list cols="4" rowHeight="120px">
            <mat-grid-tile
                [colspan]="1"
                [rowspan]="2"
                [style.background]="">
                <img src="https://media-exp2.licdn.com/dms/image/C5603AQGV6IAsixkfjg/profile-displayphoto-shrink_200_200/0/1611584314094?e=1661990400&v=beta&t=fP6HQU41dlTgncBangVLrzip5F24fle_llVuWnwzE-g" class="img-fluid" id="fotoPerfil">        
            </mat-grid-tile>
            <mat-grid-tile
                [colspan]="3"
                [rowspan]="1"
                [style.background]=""
                class="title">
            <div>
                <h1><b>Leonel Rocchia El Nemer</b></h1>
                <h2>Politólogo (UBA) y Desarrollador web Full Stack jr.</h2>
            </div>
        </mat-grid-tile>
        <mat-grid-tile
            [colspan]="3"
            [rowspan]="1"
            [style.background]=""
            class="txt">
            <br>
        <p class="parrafo">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum vel ipsam quo, aspernatur officia non! Repellat consequuntur non fugit est, saepe cupiditate quis maiores vero earum reprehenderit dolorum at natus!</p>
        </mat-grid-tile>
      </mat-grid-list>
</div>
</div>