<app-banner></app-banner>
<div class="container">
    <div class="acercade">
        <mat-grid-list cols="4" rowHeight="120px">
            <mat-grid-tile
                [colspan]="1"
                [rowspan]="2"
                [style.background]="">
                <img src="{{user.us_img}}">        
            </mat-grid-tile>
            <mat-grid-tile
                [colspan]="3"
                [rowspan]="1"
                [style.background]=""
                class="title">
            <div>
                <h1><b>{{user.us_nombre}} {{user.us_apellido}}</b></h1>
                <h2>{{user.us_titulo}}</h2>
            </div>
        </mat-grid-tile>
        <mat-grid-tile
            [colspan]="3"
            [rowspan]="1"
            [style.background]=""
            class="txt">
            <br>
        <p class="parrafo">{{user.us_descripcion}}</p>
        </mat-grid-tile>
      </mat-grid-list>
</div>
</div>