<div class="toolbar">
<mat-toolbar color="secondary" >
  <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa">
    <img src="../../../assets/Images/logoAP.png" alt="Argentina Programa" class="logoAp"></a>

  <span class="YoProgramo">#YoProgramo</span>
  <span class="example-spacer"></span>
  <app-redes></app-redes>
  <div class="loginButton">
    <button mat-mini-fab matTooltip="Login" class="pointer" color="accent" (click)="login()">
    <mat-icon color="secondary">login</mat-icon>
    </button>
  </div>
</mat-toolbar>
</div>