<mat-toolbar color="primary">
  <span>Educación</span>
  <span class="example-spacer"></span>
     <div class="addButton">
      <button mat-mini-fab matTooltip="Agregar" color="accent">
       <a class="pointer"><mat-icon color="secondary">add</mat-icon></a>
      </button>
     </div>
</mat-toolbar>
<div class="container"> 
  <mat-card class="material-card">
    <mat-card-actions class="edButtons">
      <a class="pointer"><mat-icon aria-label="Editar">edit</mat-icon></a>
      <a class="pointer"><mat-icon aria-label="Borrar">delete</mat-icon></a>
    </mat-card-actions>
    <mat-card-title class="titleCard">ed_titulo}}</mat-card-title> 
    <mat-card-subtitle class="subtitleCard"><b>ed_institucion}}</b></mat-card-subtitle>
    <mat-divider inset style="margin-bottom: 10px;"></mat-divider>
    <mat-card-title-group>
      <mat-card-subtitle>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque tenetur similique facere unde culpa perferendis repellendus consequatur reiciendis quod, asperiores maxime eum officiis. Impedit provident et reiciendis quibusdam. Aliquid, hic.</mat-card-subtitle>
      <img mat-card-sm-image src="../../../assets/Images/logogithub.png" >
    </mat-card-title-group>
    <mat-card-content>
        TIPO + DESCRIPCION + FECHA 
    </mat-card-content>
  </mat-card>
</div>

