<mat-toolbar color="primary">
    <span>Proyectos</span>
    <span class="example-spacer"></span>
       <div class="addButton">
        <button mat-mini-fab matTooltip="Agregar" color="accent">
         <a class="pointer"><mat-icon color="secondary">add</mat-icon></a>
        </button>
       </div>
</mat-toolbar>
    
    <!-- imagen del proyecto pr_image}} + link <a href> del proyecto -->
<div class="container"> 
  <div class="project-card">
  <mat-card>
    <mat-card-actions class="edButtons">
      <a class="pointer"><mat-icon>edit</mat-icon></a>
      <a class="pointer"><mat-icon>delete</mat-icon></a>
    </mat-card-actions>
    <mat-card-title class="titleCard">ed_titulo}}</mat-card-title> 
    <mat-card-subtitle class="subtitleCard"><b>ed_institucion}}</b></mat-card-subtitle>
    <mat-divider inset style="margin-bottom: 10px;"></mat-divider>
      <mat-card-title-group>
        <mat-card-subtitle>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque tenetur similique facere unde culpa perferendis repellendus consequatur reiciendis quod, asperiores maxime eum officiis. Impedit provident et reiciendis quibusdam. Aliquid, hic.</mat-card-subtitle>
        <img mat-card-xl-image src="../../../assets/Images/logogithub.png">
      </mat-card-title-group>
      <mat-card-actions>
        <button mat-button>Visitar <mat-icon aria-hidden="false" aria-label="Compartir">launch</mat-icon></button>
        <button mat-button>Ver fuente <mat-icon aria-hidden="false" aria-label="Compartir">code</mat-icon></button>
        <button mat-button>Copiar URL <mat-icon aria-hidden="false" aria-label="Compartir">link</mat-icon></button>
      </mat-card-actions>
    </mat-card>
    </div>
</div>
  
  